.header {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	.rightControls {
		position: absolute;

		top: 50%;
		right: 15px;

		transform: translateY(-50%);

		display: flex;
		align-items: center;
		gap: 8px;
	}

	.avatar {
		width: 40px;
		height: 40px;

		cursor: pointer;
	}
}

.userLabel {
	display: block;
	width: 200px;

	text-align: right;
}
