* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100%;
}

.ant-table-thead th {
    white-space: nowrap;
}

html.no-transitions *,
html.no-transitions *::before,
html.no-transitions *::after {
    transition: none !important;
    animation: none !important;
}